@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}


  
*::-webkit-scrollbar {
    width: 6px;
    height: 0px;
}
  
*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(156, 0, 156, 0.5);
}
body {
    width: 100vw;
    height: 100vh;
    background: #eeeeee;
}

.purple__glass {
    background: rgba(202, 0, 202, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
  }

.purple__gradient {
    background: linear-gradient(45deg, #AD00FF 18.78%, #ffbc11 60.92%, #AD00FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}